 .slideshow-container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 0px 80px;
  gap: 43px;
  position: relative;
  margin-top: 20px;
}

.slide img {
  border-radius: 30px;
}

.slide h3 {
position: absolute;
left: 10.88%;
right: 10.88%;
top: 76%;
bottom: 15.71%;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 15px;
display: flex;
align-items: flex-end;
text-align: center;
color: #000000;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 340px;
  height: 350px;
  object-fit: cover;
}





  
