:root {
  --primary-color: #41c1ba;
  --secondary-color: #376877;
  --hover-color: rgb(5, 130, 146);
  --font-size: 16px;
}

/* Global styles */






/* .main-container {
  position: relative;
} */

.section-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}

main section figure {
  padding-left: 20rem;
}

.btn-agendar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 0px;
  padding: 28px 29px;
  gap: 10px;
  width: 376px;
  height: 74px;
  background: #41C1BA;
  border-radius: 20px;
  transition: background-color 0.4s;
  cursor: pointer;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 15px;
  color: #365B6D;
}

.btn-agendar:hover {
  background-color: var(--hover-color);
  color: #87cefa;
}

.text1 {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 25px;
  align-items: center;
  text-align: center;
  margin-top: -5.6rem
  ;
  margin-left: -30rem;
  color: #3A7B84;
}

.text2 {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  align-items: center;
  text-align: center;
  color: #365B6D;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-bottom: 50px;
  margin-top: 50px;
}

section article p + p {
  margin-top: 0rem;
}

.social-midia {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 60rem;
  margin-top: -50px;
}

section figure img {
  margin: 0 10px;
}

.Toothbrush {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
  margin-right: 20rem;
}



/* nav {
  display: flex;
  justify-content: center;
  padding: 20px;
  position: fixed;
  z-index: 1;
  align-items: center;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: center;
  text-align: center;
} */

/* header nav ul {
  display: flex;
}

nav img {
  width: 150px;
  height: 90px;
  margin-left: 58px;
  margin-right: 20px;
}
 */


/* Media Queries */

/* Mobile devices */
/* @media (max-width: 767px) {
  body {
    background-position: top;
    background-attachment: scroll;
  }

  .section-container {
    flex-direction: column;
  }

  main section figure {
    padding-left: 0;
  }

  .btn-agendar {
    width: 40%;
    margin-top: 40px;
  }

  .text1 {
    margin-left: 0;
    margin-top: 50px;
  }

  .social-midia {
    margin: 0;
    margin-top: 10px;
  }

  .Toothbrush {
    margin: 0;
  }

  .slide-box {
    width: 100%;
    margin: 50px auto 0;
  }

  .background-filter-content {
    width: 100%;
    height: 500px;
    top: 100%;
    clip-path: none;
  }

  nav {
    padding: 10px;
  }

  nav img {
    width: 120px;
    height: 72px;
    margin-left: 20px;
    margin-right: 10px;
  }

  nav li {
    margin: 0 20px;
    padding-top: 20px;
  }

  nav ul li a,
  #login {
    padding: 5px 26.1px;
    height: 30px;
    margin-top: 20px;
  }
} */

/* Tablets and small desktop screens */
@media (max-width: 960px) {
  .section-container {
    flex-direction: column;
  }

  .right {
    display: none;
  }

  main section figure {
    padding-left: 0;
  }

  .btn-agendar {
    width: 40%;
    margin-top: 50px;
  }

  .text1 {
    margin-left: 0;
    margin-top: 50px;
  }

  .social-midia {
    margin: 0;
    margin-top: 20px;
  }

  .Toothbrush {
    margin: 0;
  }

  .slide-box {
    width: 100%;
    margin: 50px auto 0;
  }

  .background-filter-content {
    width: 100%;
    height: 500px;
    top: 100%;
    clip-path: none;
  }

  nav {
    padding: 10px;
  }

  nav img {
    width: 120px;
    height: 72px;
    margin-left: 20px;
    margin-right: 10px;
  }

  nav li {
    margin: 0 20px;
    padding-top: 20px;
  }

  nav ul li a,
  #login {
    padding: 5px 26.1px;
    height: 30px;
    margin-top: 20px;
  }
}

/* Large desktop screens */
/* @media (min-width: 1200px) {
  .text1 {
    margin-left: -50rem;
  }

  .social-midia {
    margin-left: 60rem;
    margin-top: -50px;
  }

  .Toothbrush {
    margin-right: 20rem;
  }

  .slide-box {
    margin: 100px auto 0;
  }

  .background-filter-content {
    width: 1440px;
    height: 675px;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
} */

/* ****************** carrossel serviços *************** */

.slide .flip-card-inner {
  width: 340px;
  height: 350px;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.slide:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.slide .flip-card-front,
.slide .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.slide .flip-card-front {
  z-index: 2;
}

.slide .flip-card-back {
  transform: rotateY(180deg);
}

.slide .flip-card-front img,
.slide .flip-card-back p {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}

.slide .flip-card-back {
  background-color: #fff;
  color: #000;
  padding: 10px;
  box-sizing: border-box;
}

.slide .flip-card-back h3 {
  margin-top: 0;
}

section div div div div div h3 {
  position: absolute;
  left: 14.41%;
  right: 14.41%;
  top: 70.29%;
  bottom: 21.71%;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 15px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  color: #000000;
}

.slide-box {
  width: 1099px;
  height: 402px;
  position: inherit;
  box-sizing: border-box;
  background: #FFFFFF;
  border: 20px solid #A58272;
  border-radius: 20px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 30px auto 0;
}

.background-filter-content {
  width: 1440px;
  height: 675px;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #99D9D9;
  clip-path: polygon(0 11%, 100% 29%, 100% 60%, 100% 100%, 0 99%, 0% 60%, 0 60%);
  z-index: -1;
}

section div div div div div p {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 25px;
  font-weight: normal;
  line-height: 1.5;
  color: black;
}

/* *******************FIM************************* */