/*nav{
  background:   #132540;
  width: 100%;
}*/

nav li {
     margin: 0 40px;
    padding-top: 40px;
    font-family: 'Montserrat';
  }
  
  nav ul li a,
  #login {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    font-weight: bold;
    font-size: var(--font-size);
    padding: 10px 52.19px;
    border-radius: 30px;
    height: 40px;
    margin-top: 30px;
    transition: background-color 0.4s;
  }
  
  nav ul li a:hover,
  #login:hover {
    background-color: var(--hover-color);
    color: #87cefa;
  }
  
  #login {
    border: none;
  }


  /* Estilos para o menu responsivo */
#menu-list {
  display: flex;
  list-style: none;
}

#menu-list li {
  margin-right: 20px;
}

#menu-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
}

/* Media query para dispositivos móveis */
@media (max-width: 767px) {
  #menu-list {
    display: none;
  }

  #menu.active #menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #menu-toggle {
    display: block;
  }
}
