nav {
    display: flex;
    justify-content: center;
    padding: 20px;
    position: fixed;
    z-index: 1;
    align-items: center;
    margin: 0 auto;
}

header { 
    display: flex;
    justify-content: center;
    text-align: center;
}

header nav ul {
    display: flex;
}

nav img {
    width: 150px;
    height: 90px;
    margin-left: 58px;
    margin-right: 20px;
}

nav li {
    margin: 0 40px;
    padding-top: 40px;
}

nav ul li a,
#login {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    font-weight: bold;
    font-size: var(--font-size);
    padding: 10px 52.19px;
    border-radius: 30px;
    height: 40px;
    margin-top: 30px;
    transition: background-color 0.4s;
}

nav ul li a:hover,
#login:hover {
    background-color: var(--hover-color);
    color: #87cefa;
}

#login {
    border: none;
}

