*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --cor-primaria: #365B6D;
    --cor-secundaria: #99D9D9;
    --brando-primario: #FFFFFF;
    --branco-gelo: #F2F2F0;
    --marron-claro: #C6C1BC;
    --marron-primario: #A58272;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    
}

    body{
    min-width: 280px;
    max-width: 800px;
    margin: auto;
    background-image: url(Assets/Fundo_de_pagina.svg);
    background-position:  center center;
    background-repeat: no-repeat;
    background-size: cover; 
}



a, li{
    list-style: none;
    text-decoration: none;
}

/* Efeitos de hoover e transição */
.buttonPadrao{
    transition: all .5s;
}

.buttonPadrao:hover{
    background: #365B6D;
    color: #38D2D2;
    transition: 0.3s ease all;
    transform: scale(1, 1);
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .3);
}

.buttonPadrao2{
    transition: all .5s;
}

.logar{
    transition: all .5s;
}

.buttonPadrao2:hover{
    background: #365B6D;
    color: #38D2D2;
    transition: 0.3s ease all;
    transform: scale(1, 1);
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .3);
}

#botaologin:hover{
    background: #365B6D;
    color: #38D2D2;
    transition: 0.3s ease all;
    transform: scale(1, 1);
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .3); 
}

input{
    transition: 0.3s ease all;
}

input:focus{
    outline-color: #38D2D2;
    
}

input:focus::placeholder{
    transition: 0.3s ease all;
    color: transparent;
}

.header {
    display: flex;
    justify-content:center;
    align-items:center;
    padding-right: 11%;
    
}

.header ul{
    display: flex;
    gap: 5.5rem;
    align-items: center;
}

img.telaLogin{
    width: 250px;
    position:relative;
    left: 40%;
    margin-bottom: 15px ;
}

#username{
    margin-bottom: 25px;
}

.login {
    font-family: 'Montserrat', sans-serif;
}

.telaLogin{
    display:flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: center;
    gap: 15px;
    position:relative;
    top: 20%;
    left: 30%;
}



.lembrasenha{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    gap: 2px;
    
    position:relative;
    top: 20%;
    left: 30%;
    color: #365B6D;
    font-size:medium;
    margin-top: 0.5rem;
}

.pointer{
    cursor: pointer;
    transition: all .5s;
}

.pointer:hover {
    background-color: #41C1BA;
    transition: 0.3s ease all;
    transform: scale(1, 1);
}

.logout{
    transition: all .5s;
}

.logout:hover{
    background-color: #41C1BA;
    transition: 0.3s ease all;
    transform: scale(1, 1);
}

#esqueceuSenha{
    color: #365B6D;
    margin-left: 230px;
    font-size: x-small;
    
}



 #username, #password{
    background: #FFFFFF;
    border: 1.035px solid #C4C4C4 ;
    box-shadow: 0px 4.14px 4.14px rgba(0, 0, 0, 0.25);
    padding: 1px;

    width: 414px;
    height: 43.71px;

}




#botaologin{
    width: 150px;
    height: 52.19px;

    background: #41C1BA;
    border-radius: 20px;
    border-color:snow;

    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: center;
    color: #365B6D;
    
}

.semCadastro{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-size: small;
    padding-left: 100px;
    
}

.alinhamentoCadastro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;

}

.alinhamentoAgendamento{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.6rem
}


.inputformulario{
    background: #FFFFFF;
    border: 1.035px solid #C4C4C4;
    box-shadow: 0px 4.14px 4.14px rgba(0, 0, 0, 0.25);
    padding: 1px;

    width: 300px;
    height: 28px;
}

.formularioCadastro{
    display: flex;
    flex-direction: column;
    gap: 5.5px;
}

.redesSociais ol{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    gap:  12px;
    position: relative;
    left: 450px;
    top: 130px;
    
    
    
}




/* Butão alternativo para os serviços
.button-91 {
  color: #365B6D;
  padding: 15px 25px;
  background-color: #38D2D2;
  background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 66% at 26% 20%, rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
  box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.25), inset 0px 3px 9px rgba(255, 255, 255, 0.3), inset 0px 1px 1px rgba(255, 255, 255, 0.6), inset 0px -8px 36px rgba(0, 0, 0, 0.3), inset 0px 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2);
  border-radius: 14px;
  font-weight: bold;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  cursor: pointer;
} /*/

.buttonPadrao{
    width: 180px;
    height: 52.19px;

    background: #41C1BA;
    border-radius: 15px;
    border-color:snow;

    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: center;
    color: #365B6D;
}


.buttonPadrao2{
    width: 260px;
    height: 52.19px;

    background: #41C1BA;
    border-radius: 15px;
    border-color:snow;

    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: center;
    color: #365B6D;
}


.verificarOtpHidden{
    display: none;
}

.btn-fechar {
    padding: 1.5px;
    position: relative;
    left: 10rem;
    bottom: 14.3rem;
    
    
  }

.voltarLogin{
    position:absolute;
    bottom: 10px;
    top: 15px;
    right: 20px;
}

.logout{
    position: relative;
    left: 8rem;
    bottom: 45px;
    font-size: 15px;
    color: #365B6D;
    cursor: pointer;
}

.modal-container{
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal{
    background: white;
    border: 2px solid black;

    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;

    position:relative;
    width: 370px;
    height: 500px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    

}

.modal img{
    width: 170px;
    height: 130px;
}

.modal p{
    text-align: center;
    padding-right: 0px;
}



.fontePopup{
    color: #365B6D;
    font-weight: bold;
}



#inputPopup{
    background: #FFFFFF;
    border: 1.035px solid #C4C4C4;
    box-shadow: 0px 4.14px 4.14px rgba(0, 0, 0, 0.25);
    padding: 1px;

    width: 290px;
    height: 28px;

}

.inputsNovaSenha{
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

#avisoSenha{
    position: relative;;
    bottom: 2.5px;
    text-align:right;
    font-size: x-small;
}



