@charset "UTF-8";


a {
    text-decoration: none;
}

element.style {
    min-width: 17.5rem;
    max-width: 56.25rem;
    margin: 0 auto;
}

.title {
   font-family: 'Dancing Script', cursive;
   font-family: 'Montserrat', sans-serif;
   font-size: 2.5rem;
   color: #365B6D;
   text-align: center;
}

.intro {
    font-family: 'Dancing Script', cursive;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    color: #365B6D;
    text-align: center;

}

.list-order {
    font-family: 'Dancing Script', cursive;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    color: #365B6D;
}

.conclusao {
    font-family: 'Dancing Script', cursive;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    color: #365B6D;
    text-align: center
}

.botao{
    width: 11.25rem;
    height: 3.27rem;
    

    background: #41C1BA;
    border-radius: 0.94rem;
    border-color:snow;

    font-family: Montserrat;
    font-size: 1rem;
    font-weight: 43.75rem;
    line-height: 0.81rem;
    letter-spacing: 0em;
    text-align: center;
    color: #365B6D;
}

.conteiner-botao {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    justify-content: center;
    gap: 55rem;
    width: 100%;
    height: auto;
}

.subtitle {
    font-family: 'Dancing Script', cursive;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color: #365B6D;
    text-align: center;
}
  
.sobre {
    font-family: 'Dancing Script', cursive;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    color: #365B6D;
    text-align: center;
}

.list-unorder {
    font-family: 'Dancing Script', cursive;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    color: #365B6D;
}


img {
    width: 100%;
    height: auto;
}
.image-principal {
    display: flex;
    justify-content: center;
    overflow: hidden;
    box-sizing: border-box;
}

.figure-footer {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

