::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F0EFEA;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  main {
    flex: 1;
  }

.tx-contato {
    font-family: 'Montserrat', sans-serif;
    margin: 1cm 5rem;
    font-weight: 4.375rem;
    font-size: 1rem;
    line-height: 1.5625rem;
    flex-direction: column;
    display: flex;
    align-items: center;
    text-align: center;
    color: #365B6D;
    background-color: #A58272; /* Cor de fundo desejada */
    padding: 50px; /* Espaçamento interno opcional */
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
  }

.tx-contato h3 {
    /*margin: 0;*/
    margin: 1.875rem 0;
    padding: 1.55rem;
  }
  
  .tx-contato p {
    margin: 0;
    text-align: center;
    padding: 0%;
  }

.dados {
  margin-left: 7rem;
}

.telefone {
    display: flex;
    align-items: center;
    color: #365B6D;
    
  }
  
.whatsapp {
    display: flex;
    align-items: center;
    color: #365B6D;
  }
  
.mail {
    display: flex;
    align-items: center;
    color: #365B6D;
  }

.local {
    display: flex;
    align-items: center;
    color: #365B6D;
  }

.icon {
    margin-right: 5px;
    flex: none;
    order: 0;
    flex-grow: 0;
    border-color: #365B6D;
    border-image: 50 50 round;
  }

.linha1, .linha2 {
  display: block;
}

.miolo {
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
    justify-content: center;
  }
  
.form-container {
  width: 420px;
  margin-left: 12%;
  margin-top: 1rem;
  text-align: center;

  }
  
.form-container label {
  display: flex;
  margin-bottom: 5px;
  font-weight: bold;
 }
  
  .form-container input[type="text"],
  .form-container input[type="tel"],
  .form-container input[type="email"],
  .form-container textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    font-family: 'Montserrat', sans-serif;
  }
  
.buttonPadrao{
    width: 180px;
    height: 52.19px;
    background: #41C1BA;
    border-radius: 15px;
    border-color:snow;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: center;
    color: #365B6D;
  }

.buttonPadrao {
    margin-top: 20px;
  }
      
 label {
    width: 70px; 
    display: inline-block;
  }

  h3 {
    font-size: 24px;
    text-align: center; 
    margin: 0; 
 }

 h4 {
    font-size: 16px;
    text-align: center; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
 }

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
  display: none;
}

.popup-overlay {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  display: none;
  
}

.popup-content {
  display: flex;
  flex-direction: column;
  width: 15.2rem;
  height: 12.95rem;
  justify-content: center;
  align-items: center;
  background-image: url('../Imagem_Contato/logotipo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 1px solid #000;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 20px;
  border-radius: 10px;
}

.popup-content h2 {
  margin-bottom: 10px;
  font-size: 8px;
  text-align: center;
  color: #365B6D;
  font-family: 'Montserrat', sans-serif;
}

.popup-content button {
  padding: 10px 20px;
  background-color: #99D9D9;
  color: #365B6D;
  border: none;
  border-radius: 5px;
  cursor: pointer;
   
}
/*
agenda. {
  display: flex;
  align-items: center;
  justify-content: center;
 
  }
*/

/* ================================================================= */
/* FOOTER */
/* ================================================================= */

/*
footer {
  background-color: #132540;
  color: white;
  padding-top: 2.5rem;
  position: relative;
  padding-bottom: 20px;
}

.links {
  font-family: 'Montserrat';
  color: #FFF;
  flex: 1;
  padding-left: 7rem;
  
}

.links h5 {
  font-size: 24px;
  padding-left: 2.55rem;
 }

.links li {
  text-decoration: none;
  list-style: none;
  text-align: left;
  font-size: 13px;
  line-height: 2.5rem;
  text-align: left;  
}

.container {
  display: flex;
  width: 100%; 
  max-width: 1200px; 
  margin: 0 auto;
  }

.img-central {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 4rem;
}

.Siga-nos {
  flex: 1;
  padding-right: 7rem; 
  text-align: center; 
}

.texto-form {
  font-size: 10px;
}

.form-sub {
  padding-top: 2rem;
}

button {
  background-color: #41C1BA;
  color: #365B6D;
}

.line {
  position: absolute;
  bottom: 50;
  left: 0;
  width: 100%;
  border-bottom: 1px solid white; /* Cor e estilo da linha */
}

*/

.copywrigt {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  font-size: 8px;
}

/*.agenda {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #A58272;
  padding: 20px;
  color:#365B6D;
  font-family: Montserrat;
  font-weight: 700;
}*/

/*
.tx-agenda
 {
  margin-right: 10rem;
}
*/

.tx-clique,
.button {
  margin-left: 5rem;
}

.buttonPadrao {
  padding: 10px 20px;
  background-color: #99D9D9;
  color: #365B6D;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .miolo {
    flex-direction: column;
    align-items: center;
  }
  
  .form-container {
    margin-left: 0;
    margin-top: 1.5rem;
  }
  
  .dados {
    margin-left: 0;
    margin-top: 2rem;
  }
}

@media (max-width: 480px) {
  .icon {
    width: 30px;
    height: 30px;
  }
}

/* Exemplo de media query para tornar o footer responsivo */
@media screen and (max-width: 768px) {
  /* Altere a largura dos elementos para 100% */
  .links,
  .img-central,
  .Siga-nos {
    width: 100%;
    padding: 0;
  }

  /* Empilhe os elementos verticalmente */
  .container {
    flex-direction: column;
  }

  /* Ajuste a estilização dos elementos para telas menores */
  .links h5 {
    padding-left: 0;
    text-align: center;
  }

  .links li {
    text-align: center;
  }

  .img-central,
  .Siga-nos {
    padding: 0;
  }
}

.mensagem-erro {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.campo-invalido {
  border-color: red;
}

/* Estilos para telas maiores */
.agenda {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px; /* Defina um valor máximo para evitar que a DIV fique muito larga */
  margin: 0 auto; /* Centralizar a DIV horizontalmente */
}

.tx-agenda {
  flex-grow: 1;
}

/* Estilos para telas menores */
@media (max-width: 768px) {
  .agenda {
    flex-direction: column; /* Altera o layout para empilhar os elementos verticalmente */
  }

  .tx-agenda,
  .tx-clique,
  .button {
    margin-bottom: 10px; /* Adiciona um espaço entre os elementos */
  }
}

.nav {
  background-color: #F0EFEA;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.menu-toggle {
  display: none;
}

.menu-icon {
  cursor: pointer;
}

.menu-icon img {
  width: 100px;
  height: auto;
}

.menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  list-style-type: none;
}

.menu-list li a {
  width: clamp(10rem, 10rem, 11rem);
  height: 5.2rem;
  background-color: #41c1ba;
  color: #365b6d;
  text-align: center;
  border-radius: 1.6rem;
  font-size: 1rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

@media (max-width: 1420px) {
  .menu-list {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .menu-list li {
    margin: 0.25rem;
  }

  .menu-toggle {
    display: block;
  }

  .menu-toggle:checked ~ .menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}

@media (max-width: 850px) {
  .menu-list {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .menu-list li {
    margin: 0.25rem;
  }

  .menu-toggle {
    display: block;
  }

  .menu-toggle:checked ~ .menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}

@media (max-width: 768px) {
  .menu-list {
    justify-content: center;
  }
}

@media (max-width: 690px) {
  .menu-list {
    justify-content: flex-start;
  }
}

@media (max-width: 510px) {
  .menu-list {
    display: none;
  }

  .menu-toggle {
    display: block;
  }

  .menu-toggle:checked ~ .menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}

@media (max-width: 450px) {
  .menu-list li a {
    width: clamp(7rem, 7rem, 8rem);
    height: 4rem;
    font-size: 0.8rem;
  }
}





