@charset "UTF-8";

* {
    margin: 0.63rem;
    padding: 0.63rem;
}

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    line-height: 1.5em;
}

article {
    width: 100%;
}

.figure-footer {
    display: none;
}

.conteiner-botao {
    display: none;
}

article::after {
    content: " Este artigo foi impresso através do site : www.inovareodonto.com/blog ";
}