@import url('https://fonts.googleapis.com/css2? family= Dancing+Script:wght@600 & family= Montserrat:wght@400;500;600;700 & display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Dancing Script', cursive;
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 25px;
    border-bottom: 1px solid #eee;
}

.logo {
    text-decoration: none;
    color: black;
    font-size: 26px;
}

.navbar__menu {
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar__item:not(:first-child) {
    margin-left: 30px;
}

.navbar__link {
    text-decoration: none;
    color: #365B6D;
    font-size: 16px;
}

.navbar__menu .navbar__item .nav__link {
    list-style: none;
    text-decoration: none;
    display: flex;
    color: #365B6D;
    font-size: 16px;
    padding: 8px 20px;
}

.navbar__menu .navbar__item .nav__link:hover {
    background-color: #99D9D9;
    transition: 0.3s;
    border-radius: 50px;
    
}

@media only screen and (max-width: 760px) {
    .navbar__toggle {
        width: 50px;
        height: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    } 


    .navbar__toggle.open > .bar--2 {
        opacity: 0;
    }

    .navbar__toggle.open > .bar--1 {
        transform: translateY(100%);
    }

    .navbar__toggle.open > .bar--3 {
        transform: translateY(-100%);
    }
    
    .bar {
       width: 100%;
       height: 7px;
       background-color: #365B6D;
       border-radius: 5px; 
       transition: opacity .1s, transform .3s;
    }

    .navbar__menu {
        position: absolute;
        left: 0;
        top: 100px;
        width: 80%;
        background-color: #99D9D9;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        clip-path: circle(50px at -50px 100%);
        transition: clip-path .5s;
        
    }

    .navbar__menu.open {
        clip-path: circle(2000px at -50px 100%);
        
    }

    .navbar__menu.open .navbar__item--1 {
        animation: animate-link .5s .3s ease-in-out backwards;
    }

    .navbar__menu.open .navbar__item--2 {
        animation: animate-link .5s .5s ease-in-out backwards;
    }

    .navbar__menu.open .navbar__item--3 {
        animation: animate-link .5s .7s ease-in-out backwards;
    }

    .navbar__menu.open .navbar__item--4 {
        animation: animate-link .5s .9s ease-in-out backwards;
    }

    .navbar__menu.open .navbar__item--5 {
        animation: animate-link .5s 1s ease-in-out backwards;
    }

    .navbar__menu.open .navbar__item--6 {
        animation: animate-link .5s 1.2s ease-in-out backwards;
    }

    .navbar__item:not(:first-child) {
        margin-left: 0;
        margin-top: 50px;
    }

    .nav__link {
        color: #132540;
        font-size: 20px;
        font-weight: bold;
   

    }


    @keyframes animate-link {
        0% {
            transform: translateX(-80px);
            opacity: 0;
        }
        50% {
            transform: translateX(40px);
            opacity: 0.5;
        }
        100% {
            transform: translateX(0);
            opacity: 1;
        }

    }
} 
