body {
  overflow-x: hidden;
  padding: 0;
  margin: 0 auto;
  font-family: 'Dancing Script', cursive;
  font-family: 'Montserrat', sans-serif;
  background-color: #E2E1DD;
  color: #132540;
}

section.slider {
  margin: 0 auto;
  width: 100%;
  height: auto;
  padding: 0 !important;
  overflow: hidden;

}

.slider-content {
  width: 400%;
  height: auto;
  display: flex;
}

.slider-content input, .img-mobile {
  display: none;
}


.slide-box {
  width: 25%;
  height: auto;
  position: relative;
  text-align: center;
}

.slide-box img {
  width: 100%;
}
.nav-manual, .nav-auto {
  position: absolute;
  width: 100%;
  margin-top: 35%;
  display: flex;
  justify-content: center;
}

.nav-manual .manual-btn, .nav-auto div {
  border: 1px solid #132540;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s;
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child) {
  margin-right: 10px;
}

.nav-manual .manual-btn:hover {
  background-color: #132540;
}

#radio1:checked ~ .nav-auto .auto-btn1, #radio2:checked ~ .nav-auto .auto-btn2, #radio3:checked ~ .nav-auto .auto-btn3, #radio4:checked ~ .nav-auto .auto-btn4 {
  background-color: #132540;
}

#radio1:checked ~ .primeiro {
  margin-left: 0%;
}

#radio2:checked ~ .primeiro {
  margin-left: -25%;
}

#radio3:checked ~ .primeiro {
  margin-left: -50%;
}

#radio4:checked ~ .primeiro {
  margin-left: -75%;
}

@media screen and (max-width: 960px) {
  .img-desktop {
    display: none;
  }

  .img-mobile, noticia__img {
    display: block;
  }

  .nav-auto, .nav-manual {
    margin-top: 60%;
  }
  
  .mais-noticias-c {
    justify-content: center;
  }

}

hr {
  border: none;
  background-color: #A58272;
  height: 5px;
  width: 90%; 
  margin: 20px auto;
}

.section-titulo {
	text-align: center;
	font-size: 3rem;
	margin-bottom: 10px;
}

.mais-noticias-c {
  display: flex;
	flex-wrap: wrap;
	justify-content: center;
  overflow-x: hidden;
}

.noticia {
	width: 280px;
	margin: 0 20px;
}

.noticia__titulo {
	font-size: 1.5rem;
	text-align: center;
	margin: 10px 0 5px 0;
}

.mais-noticias {
	max-width: 960px;
	margin: 0 auto;
  
}

/* CSS REFENTE A PAGINA BLOG DAS MATERIAS */ 

.title_05 {
  text-align: center;
}

.intro_05 {
 /* text-indent: 50px;*/
  display: flex;
  justify-content: center;
  align-items: center;
/*  flex-wrap: wrap;*/
  text-align: center;
  flex-direction: row;
  
}

.img_05  {
  width: 400px;
}

.paragrafo_5 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
